<div class="container">
    <h1 class="text-center">Fishes</h1>
    <p class="text-center">
      <a href="/pokemon">Favorites</a>
    </p>
    <% for(let i=0; i < fish.length; i++){ %>
      <div class="well">
        <img style = "width: 100px; height: 100px" src="<%= fish[i]['Species Illustration Photo']['src'] %>" alt="fish image">
        <a href="/fishes/<%= fish[i]['Species Name'] %>"><%= fish[i]['Species Name'] %></a>
        <button class="btn btn-primary" type="submit">My Favorite Fish</button>
      </div>
    <% } %>
    
  </div>