<div class="container">
    <h1 class="text-center">My Favorites Fishes</h1>
    <p class="text-center">
        <a href="/fishes">Home</a>
    </p>
    <div class="well" >
        <% for (let i=0; i < fishes.length; i++){ %>
        <div id = "poke-container">
            <p id = "poke-name"> <%= fishes[i].name %></p>
            <form method="GET" action="/fishes/<%= fishes[i].name %>">
                <button id = "More-info" class="btn btn-primary" type="submit">More info</button>
            </form>
        </div>
        <% } %>
    </div>
</div>