<div class="container">
    <h1 class="text-center"><%= chosenFish.name.toUpperCase() %></h1>
    <p class="text-center">
        <a href="/fishes">Home</a>
    </p>
    <p class="text-center">
        <a href="/fishes/favorites">Favorites</a>
    </p>
    <div class="well" >
        <div id="primary-properties">
            <p id = "poke-name">Name: <%= chosenFish.name %></p>
            <p id = "poke-name">Harvest: <%= chosenFish.harvest %></p>
            <img src="<%= chosenFish.image %>" alt="Fish image">
            
        </div>
    </div>
</div>