<div>
    <form method= "POST" action="/editNutrition/<%= theFish.id %>/<%=theNutrition %>?_method=PUT" >
        <div>
            <label for="name">Nutrition Name</label>
            <input type="text" id="name" name="name">
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount">
            <button type="submit"> Submit</button>
        </div>

    <form>
</div>