
<div style=" margin: 200px">
    <h3>Add nutritions that is provided by this sea food:</h3>
    <form action="POST" action="nutrition/newNutrition">
        <div class="form-group">
            <label for="nutrition">Nutrition</label>
            <input type="text" class= "form-control" id="nutrition" name="name">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class= "form-control" id="amount" name="amount">
        </div>
        <input type="submit" class="btn btn-primary">
       
    </form>
    
</div>