<div style=" margin: 200px">
    <h3>Add regions that this fish is available:</h3>
    <form action="POST" action="fishes/newRegion">
        <div class="form-group">
            <label for="region">Region</label>
            <input type="text" class= "form-control" id="region" name="region">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>

</div>
